.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 3% 10%;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
}
.selected-cart-container {
  background-color: #ade4e7;
  position: sticky;
  top: 0;
  text-align: center;
  padding: 0 5%;
  margin-left: 8%;
  border: 1px solid gray;
  border-radius: 8px;
}

@media only screen and (max-width: 600px) {
  .shop-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .products-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}