.choose-container {
  display: flex;
}
.choose-container img {
  width: 15%;
  border-radius: 50%;
}
.cart-header {
  margin-bottom: 12%;
}
.btn-selected-cart {
  background-color: bisque;
  padding: 3% 5%;
  width: 75%;
  border: none;
  border-radius: 8px;
  margin: 3% 0;
  font-size: 20px;
  transition: 0.2s;
}
.btn-selected-cart:hover {
  background-color: orange;
}